/* line 14, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
::selection {
  background: #7aada6;
  color: #ffffff; }

/**
 * Eric Meyer's Reset CSS v2.0 
(http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 36, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: 'Noto Sans KR', Arial, sans-serif;
  font-weight: normal;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
/* line 48, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 51, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
body {
  font-family: 'Open Sans', sans-serif; }

/* line 54, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
ol, ul {
  list-style: none; }

/* line 57, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
blockquote, q {
  quotes: none; }

/* line 61, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 65, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END RESET CODE */
/* scrollbar style : all */
/* line 72, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
body::-webkit-scrollbar {
  width: 10px;
  background-color: #f6f6f6; }

/* line 76, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
body::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  border-radius: 12px;
  border: 2px solid #f6f6f6; }

/* line 81, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
body::-webkit-scrollbar-thumb:hover {
  background-color: #999; }

/* line 84, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
body::-webkit-scrollbar-thumb:active {
  background-color: #999; }

/* line 87, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
body::-webkit-scrollbar-track {
  border-radius: 5px; }

/* section 1 */
/* line 93, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
.main_banner {
  position: relative;
  width: 100%;
  background-color: #fafafa;
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh; }
  /* line 100, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
  .main_banner nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: right;
    z-index: 999; }
    /* line 111, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
    .main_banner nav h1 {
      display: inline-block;
      float: left;
      margin: 0 0 0 50px;
      font-size: 22px; }
      /* line 116, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
      .main_banner nav h1 a {
        font-family: "Lora", serif;
        color: #7aada6;
        cursor: pointer; }
    /* line 122, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
    .main_banner nav ul {
      display: inline-block;
      float: right; }
      /* line 125, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
      .main_banner nav ul li {
        float: left;
        font-size: 16px;
        color: #333333;
        margin: 0 50px 0 0;
        cursor: pointer; }
        /* line 131, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
        .main_banner nav ul li:hover {
          border-bottom: 2px solid #7aada6;
          color: #7aada6; }
        /* line 135, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
        .main_banner nav ul li:active {
          border-bottom: 2px solid #7aada6; }
        /* line 138, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
        .main_banner nav ul li a {
          color: rgba(0, 0, 0, 0.6); }
          /* line 140, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
          .main_banner nav ul li a:hover {
            color: #7aada6;
            text-decoration: none; }
          /* line 144, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
          .main_banner nav ul li a:active {
            color: #7aada6;
            text-decoration: none; }

/* line 154, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
.main_banner .banner_text {
  display: inline-block;
  margin: 50%; }
  /* line 157, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
  .main_banner .banner_text h1 {
    position: absolute;
    top: 45%;
    font-family: "Lora", serif;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 2px;
    color: #333333;
    white-space: nowrap;
    /* typing effect */
    overflow: hidden;
    width: 700px;
    padding: 0;
    animation: type 3.8s steps(60, end); }
  /* line 171, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
  .main_banner .banner_text h1:nth-child(2) {
    animation: type2 7.8s steps(60, end);
    margin-top: 50px; }
  /* line 175, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
  .main_banner .banner_text span {
    animation: blink 1s infinite;
    color: #7aada6; }

@keyframes type {
  from {
    width: 0; } }

@keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@keyframes blink {
  to {
    opacity: .0; } }

/* mouse effect */
@-webkit-keyframes scroll-inner {
  0% {
    margin-top: 20%;
    opacity: 1; }
  90% {
    margin-top: 60%;
    opacity: 0; }
  100% {
    margin-top: 20%;
    opacity: 0; } }

@keyframes scroll-inner {
  0% {
    margin-top: 20%;
    opacity: 1; }
  90% {
    margin-top: 60%;
    opacity: 0; }
  100% {
    margin-top: 20%;
    opacity: 0; } }

/* line 205, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
.mouse-container {
  position: relative;
  display: block;
  height: 100px;
  top: 90vh; }
  /* line 210, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
  .mouse-container .mouse {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 15px;
    height: 28px;
    border: 2px solid #7aada6;
    border-radius: 20px;
    opacity: .6; }
    /* line 219, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
    .mouse-container .mouse .scroll-down {
      display: block;
      width: 4px;
      height: 4px;
      background: #7aada6;
      border-radius: 50%;
      margin: 15% auto auto auto;
      -webkit-animation: scroll-inner 1.5s;
      animation: scroll-inner 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease;
      animation-timing-function: ease; }

/* section 2 */
/* line 238, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
.aboutme {
  padding: 80px 0;
  text-align: center;
  background-color: #ececec; }
  /* line 242, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
  .aboutme h1 {
    font-family: "Lora", serif;
    font-size: 22px;
    letter-spacing: 2px;
    color: #333333; }
  /* line 248, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
  .aboutme p {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 18px;
    line-height: 32px;
    color: #333333; }

/* section 3 */
/* line 260, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
.portfolio_area {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 30px; }
  /* line 264, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
  .portfolio_area .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative; }
    /* line 269, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
    .portfolio_area .container h1 {
      font-family: "Lora", serif;
      font-size: 22px;
      letter-spacing: 2px;
      color: #333333; }
  /* line 276, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
  .portfolio_area .pf_list {
    height: 600px;
    position: relative;
    margin-top: 50px; }
    /* line 280, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
    .portfolio_area .pf_list .left_area {
      width: 50%;
      height: 600px;
      margin: 0;
      float: left;
      position: absolute;
      background-color: #e8ecef;
      background-position: center;
      background-repeat: no-repeat; }
    /* line 291, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
    .portfolio_area .pf_list .left_area_01 {
      background-image: url(../img/01.png);
      background-size: 60%; }
    /* line 295, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
    .portfolio_area .pf_list .left_area_02 {
      background-image: url(../img/02.png);
      background-color: #f5f2f2;
      background-size: 60%; }
    /* line 300, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
    .portfolio_area .pf_list .left_area_03 {
      background-image: url(../img/04.png);
      background-color: #e8ecef;
      background-size: 60%; }
    /* line 305, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
    .portfolio_area .pf_list .left_area_04 {
      background-image: url(../img/04.png);
      background-color: #f5f2f2;
      background-size: 80%; }
    /* line 310, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
    .portfolio_area .pf_list .right_area {
      position: relative;
      top: 30%;
      width: 50%;
      float: right;
      text-align: left; }
      /* line 316, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
      .portfolio_area .pf_list .right_area .info {
        margin: 0 50px; }
        /* line 318, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
        .portfolio_area .pf_list .right_area .info h2 {
          padding-bottom: 10px;
          font-size: 20px;
          color: #666666; }
        /* line 323, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
        .portfolio_area .pf_list .right_area .info h5 {
          padding-bottom: 10px;
          font-family: "Lora", serif;
          font-size: 12px;
          letter-spacing: 1px;
          color: #999999; }
        /* line 330, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
        .portfolio_area .pf_list .right_area .info p {
          padding-top: 10px;
          font-size: 16px;
          line-height: 26px;
          color: #666666; }

/* slider */
/* line 342, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#slider-wrapper {
  width: 50%;
  height: 600px;
  position: relative;
  margin-bottom: 0px;
  background: #e8ecef;
  overflow: hidden;
  float: left; }

/* line 353, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#s1, s5 {
  padding: 6px;
  background: #999999;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999; }

/* line 366, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#s2, s6 {
  padding: 6px;
  background: #999999;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999; }

/* line 379, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#s3, s7 {
  padding: 6px;
  background: #999999;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999; }

/* line 392, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#s4, s8 {
  padding: 6px;
  background: #999999;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999; }

/* line 408, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#s1:hover,
#s2:hover,
#s3:hover,
#s4:hover {
  opacity: .50; }

/* line 412, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
.inner-wrapper {
  width: 70%;
  height: 570px;
  position: absolute;
  top: 40px;
  left: 100px;
  margin-bottom: 0px;
  overflow: hidden; }

/* line 422, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
.control {
  display: none; }

/* line 426, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#Slide1:checked ~ .overflow-wrapper {
  margin-left: 0%; }

/* line 430, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#Slide2:checked ~ .overflow-wrapper {
  margin-left: -100%; }

/* line 434, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#Slide3:checked ~ .overflow-wrapper {
  margin-left: -200%; }

/* line 438, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#Slide4:checked ~ .overflow-wrapper {
  margin-left: -300%; }

/* line 442, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#Slide1:checked + #s1, #Slide5:checked + #s5, #Slide6:checked + #s6, #Slide7:checked + #s7, #Slide8:checked + #s8 {
  opacity: 1; }

/* line 446, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#Slide2:checked + #s2 {
  opacity: 1; }

/* line 450, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#Slide3:checked + #s3 {
  opacity: 1; }

/* line 454, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
#Slide4:checked + #s4 {
  opacity: 1; }

/* line 458, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
.overflow-wrapper {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* line 472, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
.slide img {
  width: 25%;
  float: left; }

/* Footer */
/* line 479, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
footer {
  height: 120px;
  background-color: #444444;
  text-align: center; }
  /* line 483, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
  footer .contact_info {
    float: right;
    text-align: right;
    padding: 30px 50px 0 0; }
    /* line 487, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
    footer .contact_info h3 {
      font-size: 16px;
      letter-spacing: 1px;
      color: #ffffff; }
    /* line 492, /Users/SeoyoungSeung/Documents/Flearning/week06/02_myportfolio/css/style_01.scss */
    footer .contact_info p, footer .contact_info a {
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 0.3); }

/*# sourceMappingURL=style_01.css.map */