/* line 14, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
::selection {
  background: #7aada6;
  color: #ffffff; }

/* line 19, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
.indicator, #slider-wrapper .inner-wrapper #s1, #slider-wrapper .inner-wrapper #s2, #slider-wrapper .inner-wrapper #s3, #slider-wrapper .inner-wrapper #s4, #slider-wrapper-1 .inner-wrapper #s5, #slider-wrapper-1 .inner-wrapper #s6, #slider-wrapper-1 .inner-wrapper #s7, #slider-wrapper-1 .inner-wrapper #s8, #slider-wrapper-2 .inner-wrapper #s9, #slider-wrapper-2 .inner-wrapper #s10 {
  padding: 6px;
  background: #999999;
  position: absolute;
  left: 50%;
  bottom: 25px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999; }

/**
 * Eric Meyer's Reset CSS v2.0 
(http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 48, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: 'Noto Sans KR', Arial, sans-serif;
  font-weight: normal;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
/* line 60, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 63, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
body {
  font-family: 'Open Sans', sans-serif; }

/* line 66, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
ol, ul {
  list-style: none; }

/* line 69, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
blockquote, q {
  quotes: none; }

/* line 73, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 77, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END RESET CODE */
/* scrollbar style : all */
/* line 84, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
body::-webkit-scrollbar {
  width: 10px;
  background-color: #f6f6f6; }

/* line 88, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
body::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  border-radius: 12px;
  border: 2px solid #f6f6f6; }

/* line 93, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
body::-webkit-scrollbar-thumb:hover {
  background-color: #999; }

/* line 96, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
body::-webkit-scrollbar-thumb:active {
  background-color: #999; }

/* line 99, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
body::-webkit-scrollbar-track {
  border-radius: 5px; }

/* section 1 */
/* line 106, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: right;
  list-style-type: none;
  z-index: 999; }
  /* line 118, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  nav span {
    font-size: 22px;
    font-family: "Lora", serif;
    color: #7aada6;
    cursor: pointer; }
  /* line 124, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  nav ul {
    margin-left: 20px; }
    /* line 126, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    nav ul li {
      float: left;
      font-size: 16px;
      color: #333333;
      margin: 0 50px 0 0;
      cursor: pointer; }
      /* line 132, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
      nav ul li:hover {
        border-bottom: 2px solid #7aada6;
        color: #7aada6; }
      /* line 136, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
      nav ul li:active {
        border-bottom: 2px solid #7aada6; }
      /* line 139, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
      nav ul li a {
        display: inline-block;
        color: red;
        text-align: center;
        text-decoration: none;
        transition: 0.3s;
        color: rgba(0, 0, 0, 0.6); }
        /* line 146, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
        nav ul li a:hover {
          color: #7aada6;
          text-decoration: none; }
        /* line 150, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
        nav ul li a:active {
          color: #7aada6;
          text-decoration: none; }

/* line 159, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
.main_banner {
  position: relative;
  width: 100%;
  background-color: #fafafa;
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh; }
  /* line 166, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  .main_banner .banner_text {
    display: inline-block;
    margin: 50%; }
    /* line 169, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    .main_banner .banner_text h1 {
      position: absolute;
      top: 45%;
      font-family: "Lora", serif;
      font-size: 30px;
      line-height: 42px;
      letter-spacing: 2px;
      color: #333333;
      white-space: nowrap;
      /* typing effect */
      overflow: hidden;
      width: 700px;
      padding: 0;
      animation: type 3.8s steps(60, end); }
    /* line 183, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    .main_banner .banner_text h1:nth-child(2) {
      animation: type2 7.8s steps(60, end);
      margin-top: 50px; }
    /* line 187, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    .main_banner .banner_text span {
      animation: blink 1s infinite;
      color: #7aada6; }

@keyframes type {
  from {
    width: 0; } }

@keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@keyframes blink {
  to {
    opacity: .0; } }

/* mouse effect */
@-webkit-keyframes scroll-inner {
  0% {
    margin-top: 20%;
    opacity: 1; }
  90% {
    margin-top: 60%;
    opacity: 0; }
  100% {
    margin-top: 20%;
    opacity: 0; } }

@keyframes scroll-inner {
  0% {
    margin-top: 20%;
    opacity: 1; }
  90% {
    margin-top: 60%;
    opacity: 0; }
  100% {
    margin-top: 20%;
    opacity: 0; } }

/* line 217, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
.mouse-container {
  position: relative;
  display: block;
  height: 100px;
  top: 90vh; }
  /* line 222, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  .mouse-container .mouse {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 15px;
    height: 28px;
    border: 2px solid #7aada6;
    border-radius: 20px;
    opacity: .6; }
    /* line 231, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    .mouse-container .mouse .scroll-down {
      display: block;
      width: 4px;
      height: 4px;
      background: #7aada6;
      border-radius: 50%;
      margin: 15% auto auto auto;
      -webkit-animation: scroll-inner 1.5s;
      animation: scroll-inner 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease;
      animation-timing-function: ease; }

/* section 2 */
/* line 250, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
.aboutme {
  padding: 80px 0;
  text-align: center;
  background-color: #ececec; }
  /* line 254, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  .aboutme h1 {
    font-family: "Lora", serif;
    font-size: 22px;
    letter-spacing: 2px;
    color: #333333; }
  /* line 260, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  .aboutme p {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 18px;
    line-height: 32px;
    color: #333333; }

/* section 3 */
/* line 272, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
.portfolio_area {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 30px; }
  /* line 276, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  .portfolio_area .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative; }
    /* line 281, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    .portfolio_area .container h1 {
      font-family: "Lora", serif;
      font-size: 22px;
      letter-spacing: 2px;
      color: #333333; }
  /* line 288, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  .portfolio_area .pf_list {
    height: 600px;
    position: relative;
    margin-top: 50px; }
    /* line 292, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    .portfolio_area .pf_list .left_area {
      width: 50%;
      height: 600px;
      margin: 0;
      float: left;
      position: absolute;
      background-color: #e8ecef;
      background-position: center;
      background-repeat: no-repeat; }
    /* line 302, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    .portfolio_area .pf_list .left_area_04 {
      background-image: url(../img/04.png);
      background-color: #f5f2f2;
      background-size: 80%; }
    /* line 307, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    .portfolio_area .pf_list .left_area_05 {
      background-image: url(../img/05.png);
      background-color: #e8ecef;
      background-size: 80%; }
    /* line 313, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    .portfolio_area .pf_list .right_area {
      position: relative;
      top: 25%;
      width: 50%;
      float: right;
      text-align: left; }
      /* line 319, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
      .portfolio_area .pf_list .right_area .info {
        margin: 0 50px; }
        /* line 321, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
        .portfolio_area .pf_list .right_area .info h2 {
          padding-bottom: 10px;
          font-size: 20px;
          color: #666666; }
        /* line 326, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
        .portfolio_area .pf_list .right_area .info h5 {
          padding-bottom: 10px;
          font-family: "Lora", serif;
          font-size: 12px;
          letter-spacing: 1px;
          color: #999999; }
        /* line 333, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
        .portfolio_area .pf_list .right_area .info p {
          padding-top: 10px;
          font-size: 16px;
          line-height: 26px;
          color: #666666; }

/* slider */
/* line 345, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
#slider-wrapper {
  width: 50%;
  height: 600px;
  position: relative;
  margin-bottom: 0px;
  background: #e8ecef;
  overflow: hidden;
  float: left; }
  /* line 353, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper .inner-wrapper {
    width: 70%;
    height: 570px;
    position: absolute;
    top: 40px;
    left: 100px;
    margin-bottom: 0px;
    overflow: hidden; }
    /* line 361, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper .inner-wrapper .control {
      display: none; }
    /* line 364, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper .inner-wrapper #s1 {
      margin-left: -36px; }
    /* line 368, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper .inner-wrapper #s2 {
      margin-left: -12px; }
    /* line 372, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper .inner-wrapper #s3 {
      margin-left: 12px; }
    /* line 376, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper .inner-wrapper #s4 {
      margin-left: 36px; }
    /* line 381, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper .inner-wrapper #s1:hover, #slider-wrapper .inner-wrapper #s2:hover, #slider-wrapper .inner-wrapper #s3:hover, #slider-wrapper .inner-wrapper #s4:hover {
      opacity: .50; }
    /* line 384, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper .inner-wrapper .overflow-wrapper {
      width: 400%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: hidden;
      z-index: 1;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      /* line 396, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
      #slider-wrapper .inner-wrapper .overflow-wrapper .slide img {
        width: 25%;
        float: left; }
  /* line 404, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper #Slide1:checked ~ .overflow-wrapper {
    margin-left: 0%; }
  /* line 408, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper #Slide2:checked ~ .overflow-wrapper {
    margin-left: -100%; }
  /* line 412, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper #Slide3:checked ~ .overflow-wrapper {
    margin-left: -200%; }
  /* line 416, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper #Slide4:checked ~ .overflow-wrapper {
    margin-left: -300%; }
  /* line 420, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper #Slide1:checked + #s1, #slider-wrapper #Slide2:checked + #s2, #slider-wrapper #Slide3:checked + #s3, #slider-wrapper #Slide4:checked + #s4 {
    opacity: 1; }

/* line 425, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
#slider-wrapper-1 {
  width: 50%;
  height: 600px;
  position: relative;
  margin-bottom: 0px;
  background: #e8ecef;
  overflow: hidden;
  float: left; }
  /* line 433, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper-1 .inner-wrapper {
    width: 70%;
    height: 570px;
    position: absolute;
    top: 40px;
    left: 100px;
    margin-bottom: 0px;
    overflow: hidden; }
    /* line 441, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper-1 .inner-wrapper .control {
      display: none; }
    /* line 444, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper-1 .inner-wrapper #s5 {
      margin-left: -36px; }
    /* line 448, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper-1 .inner-wrapper #s6 {
      margin-left: -12px; }
    /* line 452, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper-1 .inner-wrapper #s7 {
      margin-left: 12px; }
    /* line 456, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper-1 .inner-wrapper #s8 {
      margin-left: 36px; }
    /* line 461, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper-1 .inner-wrapper #s5:hover, #slider-wrapper-1 .inner-wrapper #s6:hover, #slider-wrapper-1 .inner-wrapper #s7:hover, #slider-wrapper-1 .inner-wrapper #s8:hover {
      opacity: .50; }
    /* line 464, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper-1 .inner-wrapper .overflow-wrapper {
      width: 400%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: hidden;
      z-index: 1;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      /* line 476, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
      #slider-wrapper-1 .inner-wrapper .overflow-wrapper .slide img {
        width: 25%;
        float: left; }
  /* line 484, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper-1 #Slide5:checked ~ .overflow-wrapper {
    margin-left: 0%; }
  /* line 488, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper-1 #Slide6:checked ~ .overflow-wrapper {
    margin-left: -100%; }
  /* line 492, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper-1 #Slide7:checked ~ .overflow-wrapper {
    margin-left: -200%; }
  /* line 496, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper-1 #Slide8:checked ~ .overflow-wrapper {
    margin-left: -300%; }
  /* line 500, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper-1 #Slide5:checked + #s5, #slider-wrapper-1 #Slide6:checked + #s6, #slider-wrapper-1 #Slide7:checked + #s7, #slider-wrapper-1 #Slide8:checked + #s8 {
    opacity: 1; }

/* line 505, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
#slider-wrapper-2 {
  width: 50%;
  height: 600px;
  position: relative;
  margin-bottom: 0px;
  background: #e8ecef;
  overflow: hidden;
  float: left; }
  /* line 513, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper-2 .inner-wrapper {
    width: 70%;
    height: 570px;
    position: absolute;
    top: 40px;
    left: 100px;
    margin-bottom: 0px;
    overflow: hidden; }
    /* line 521, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper-2 .inner-wrapper .control {
      display: none; }
    /* line 524, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper-2 .inner-wrapper #s9 {
      margin-left: -20px; }
    /* line 528, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper-2 .inner-wrapper #s10 {
      margin-left: 0px; }
    /* line 532, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper-2 .inner-wrapper #s9:hover, #slider-wrapper-2 .inner-wrapper #s10:hover {
      opacity: .50; }
    /* line 535, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    #slider-wrapper-2 .inner-wrapper .overflow-wrapper {
      width: 400%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: hidden;
      z-index: 1;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      /* line 547, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
      #slider-wrapper-2 .inner-wrapper .overflow-wrapper .slide img {
        width: 25%;
        float: left; }
  /* line 554, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper-2 #Slide9:checked ~ .overflow-wrapper {
    margin-left: 0%; }
  /* line 558, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper-2 #Slide10:checked ~ .overflow-wrapper {
    margin-left: -100%; }
  /* line 562, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper-2 #Slide9:checked + #s9, #slider-wrapper-2 #Slide10:checked + #s10 {
    opacity: 1; }

/* Footer */
/* line 569, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
footer {
  height: 120px;
  background-color: #444444;
  text-align: center;
  float: right;
  width: 100%; }
  /* line 575, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  footer .contact_info {
    float: right;
    text-align: right;
    padding: 30px 50px 0 0; }
    /* line 579, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    footer .contact_info h3 {
      font-size: 16px;
      letter-spacing: 1px;
      color: #ffffff; }
    /* line 584, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    footer .contact_info p, footer .contact_info a {
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 0.3); }

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* line 599, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  nav span {
    font-size: 18px; }
  /* line 602, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  nav ul {
    margin: 0 0 0 20px; }
    /* line 604, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    nav ul li {
      font-size: 12px;
      margin: 0px 20px 0 0; }
  /* line 610, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  .main_banner .banner_text h1 {
    font-size: 24px; }
  /* line 614, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper, #slider-wrapper-1, #slider-wrapper-2 {
    width: 100%; }
  /* line 618, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  .portfolio_area .pf_list .right_area {
    position: static;
    width: auto;
    clear: both; }
    /* line 622, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
    .portfolio_area .pf_list .right_area .info {
      margin: 30px; }
  /* line 626, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper .inner-wrapper {
    position: static; }
  /* line 629, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper-1 .inner-wrapper {
    position: static; }
  /* line 632, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  #slider-wrapper-2 .inner-wrapper {
    position: static; }
  /* line 635, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  .slide img {
    padding-top: 80px; }
  /* line 638, /Users/SeoyoungSeung/Documents/portfolio/css/style_01.scss */
  .portfolio_area .pf_list .left_area {
    width: 100%;
    position: static; } }

/*# sourceMappingURL=style_01.css.map */